.town_card {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid rgb(2, 2, 2);
    border-radius: 50px;
    background-color: rgb(54, 52, 52)
  }
  .town_card > h4 {
      margin: 10px;
  }