.blue {
    padding: 1rem 3rem;
    background-color: rgb(18, 54, 102);
    border: solid 1px rgb(6, 44, 94);
    border-radius: 20px;
    color: whitesmoke;
    font-weight: bold;
    margin: 0 0.5rem;
  }
  
  .blue:hover {
    background-color: rgb(37, 82, 141);
  }
  
  .blue:active {
    background-color: rgb(49, 112, 194);
  }