.crime_card {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid rgb(2, 2, 2);
    border-radius: 50px;
    background-color: rgb(54, 52, 52);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .crime_card > h4 {
      margin: 10px;
  }

.textarea {
    width: 100%;
    min-height: 10rem;
}
form > div {
    margin: 5px 0px;
}
main {
    text-align: center;
    padding: 20px;
}
#form {
    margin: 20px 0px;
    padding: 20px 0px;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}